 body{
   font-family: 'Work Sans', sans-serif;
 }
 *{
    margin: 0;
    padding: 0;
 }
 .header{
   display: flex;
   justify-content: end;
   align-items: center;
   background-image: url('images/banner/banner2.png');
   background-repeat: no-repeat;
   background-size: cover;
   height: 800px;    
   width: 1900px;
   text-align: right; 
   padding-bottom: 100px;
   margin-left: 150px;
 }
.banner{
   margin-right: 100px;
   margin-top: 180px;
   padding-right: 250px;
}
.banner h1{
   color: #151414;
   text-align: left;
   font-size: 65px;
   font-weight: 700;
   text-align: right;
}
.banner p{
   color: #444343;
   text-align: right;
   font-family: Work Sans;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
   margin-top: 20px;
} 

.btn-1{
   width: 160px;
   height: 64px;
   border: none;
   border-radius: 5px;
   background: #F15B22;
   color: #FFF;
   text-align: center;
   font-size: 20px;
   font-weight: 600;
   margin-top: 20px;
}
.main{
   display: flex;
   justify-content: center;
   gap: 105px;
   margin: 130px 0;
}
.person{
   height: 724px;
   width: 569px;
   display: flex;
}
.image-2{
   position: absolute;
}
.background{
   width: 527.929px;
   height: 527.929px;
   border-radius: 527.929px;
   background: linear-gradient(0deg, #fcded3 0%, rgba(0, 95, 172, 0.00) 100%);
   align-self: self-end;
   margin-left: 22px;
}
.failure-item-title {
   color: #151414;
   font-size: 40px;
   font-weight: 700;
}

.failure-item-description {
   color: #444343;
   font-size: 16px;
   font-weight: 400;
   margin-top: 25px;
}

.failure-item-list {
   color: #444343;
   font-size: 16px;
   font-weight: 400;
   list-style: none;
   margin-top: 16px;
}

.failure-item {
   margin-top: 370px;
}
.head{
   text-align: center;
   margin-top: 100px;
   margin-bottom: 70px;
}
.experiance{
   display: flex;
   justify-content: space-around;
   text-align: center;
   margin-top: 40px;
}
.about{
   background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url('images/watch.png');
   background-repeat: no-repeat;
   margin: 100px auto;
   width: 1140px;
   height: 300px;
   border-radius: 8px;  
}
.about h1{
   color: #FFF;
   font-size: 40px;
   font-weight: 700;
   margin-bottom: 20px;
}
.about button{
   width: 160px;
   height: 64px;
   border-radius: 5px;
   background: #FFF;
   color: #F15B22;
   text-align: center;
   font-size: 20px;
   font-weight: 600;
   border: none;
}
.about .tittle{
   padding: 50px 80px;
}
.footer{
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: black;
   color: white;
   width: 2000px;
   height: 577px;
}
.email{
   width: 325px;
   height: 64px;
   border-radius: 8px;
   background: #151414;
   margin-bottom: 10px;
   
}
.btn-3{
   width: 170.106px;
   height: 64px;
   border-radius: 8px;
   background: #FFF;
   color: #F15B22;
   font-size: 20px;
   font-weight: 600;
}
.contact{
   line-height: 80px;
}